.headerWrapper {
    padding: 12px 16px;
    font-size: 12px;
}

.logo {
    color: var(--font-color);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s;
}

.logo:hover {
    color: #f08c00;
}

.menuItem {
    color: var(--font-color);
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s;
}

.menuItem:hover {
    color: #f08c00;
}

.menus {
    border-radius: 44px;
    padding: 10px 30px;
    background-color: rgb(20, 20, 20);
}
