:root {
  --background: #000;
  --font-color: #fff;
  --secondary-font-color: #000;
  --gray: #343A40;
  --secondary: #CFF4FC;
  --primary: #0D6EFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

