:root {
  --background: #000;
  --font-color: #fff;
  --secondary-font-color: #000;
  --gray: #343A40;
  --secondary: #CFF4FC;
  --primary: #0D6EFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: Inter, sans-serif;
  margin: 0;
}

.mantine-PasswordInput-visibility-toggle {
  color: black !important;
}

.mantine-PasswordInput-visibility-toggle:hover {
  color: darkgray !important;
}
